$lightgreen: #26C2AE;
$superlightgreen: #C5E4E7;
$input: #F3F9FA;
$darkgreen: #00474B;
$olive: #7F9D9F;
$btnhover: #9FE8DF;
$disabled: #0D686D;

//

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;